.md {

  /* =========================================== */
  /* === 以下是一些自定义的 markdown attributes === */
  /* =========================================== */

  .no-borders {
    border: none;
    th, td {
      border: none;
    }
  }

  .medium-imgs img {
    height: 20rem !important;
  }

  .large-imgs img {
    height: 32rem !important;
  }

  .max-imgs img {
    width: 100% !important;
  }

}